<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="a demo of silex">
    <meta name="author" content="johi">
    <title>Silex-Demo</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath }}/css/subscribe.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<div class="navigation">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Silex Demo Application</a>
        </div>
    </nav>
</div>
<div class="container">
    {% block content %}
    {% endblock %}
</div>
<!-- Bootstrap Core JavaScript -->
<script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
